.help-container{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.help-title{
    font-size: 22px;
}

.help-text{
    font-size: 18px;
}

.help-main{
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
}

.help-textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textarea{
    resize: none;
    border-radius: 15px;
    border: solid 2px black;
    height: 70%;
    width: 100%;
}

.help-button{
    width: 10%;
    height: 20%;
    margin-left: 90%;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #40A798;
    font-size: 15px;
}