.main-home{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.aside-home{
    display: flex;
    flex-direction: column;
    background-color: #C6CED0;
    max-width: 30%;
    height: 100%;
}

.figure-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin: 0px 40px 0px 40px;
}

.img-logo-home{
    width: 50%;
    padding-top: 5%;
}

.img-señora-home{
    width: 80%;
    padding-top: 20%;
}

.navbar-home-pattern{
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-home{
    height: 5%;
    border-top: 2px solid #828282;
    border-bottom: 2px solid #828282;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
}

.li-home{
    list-style: none;
}

.a-home{
    text-decoration: none;
    color: #476268;
    cursor: pointer;
}

.a-home:hover{
    color: #40A798;
}

.p-home{
    text-align: center;
    font-size: 18px;
}

.button-home{
    width: 40%;
    height: 6%;
    border-radius: 10px;
    background-color:rgb(64,167,152);
    color: white;
    border: none;
    margin: 30px auto 30px auto;
}

/* Estilos para telefonos moviles */
@media (max-width: 599px) {
    .p-home{
        font-size: 12px;
        width: 100%;
    }

    .figure-home{
        min-width: 100%;
        margin: 0;
    }
    
    .img-logo-home{
        min-width: 80%;
        position: relative;
        top: 8%;
    }
    
    .img-señora-home{
        min-width: 100%;
        padding-top: 70%;
    }

    .navbar-home{
        padding: 0;
        margin-top: 10%;
    }

    .a-home{
        font-size: 14px;
    }

    .button-home{
        font-size: 15px;
    }
}

/* Estilos para tablets pequeñas */
@media (min-width: 600px) { 
    .p-home{
        font-size: 16px;
        width: 100%;
    }

    .a-home{
        font-size: 28px;
    }

    .figure-home{
        min-width: 100%;
        margin: 0;
    }
    
    .img-logo-home{
        min-width: 80%;
        position: relative;
        top: 8%;
    }
    
    .img-señora-home{
        min-width: 100%;
        padding-top: 70%;
    }

    .navbar-home{
        margin-top: 20%;
        padding: 0;
    }

    .button-home{
        font-size: 25px;
    }
}

/* Estilos para tablets grandes */
@media (min-width: 900px) { 
    .p-home{
        font-size: 18px;
        width: 100%;
    }

    .a-home{
        font-size: 32px;
    }

    .figure-home{
        min-width: 100%;
        margin: 0;
        height: 100%;
    }
    
    .img-logo-home{
        min-width: 60%;
        position: relative;
        top: 5%;
    }
    
    .img-señora-home{
        min-width: 100%;
        padding-top: 30%;
    }

    .navbar-home{
        margin-top: 10%;
    }

    .button-home{
        font-size: 30px;
    }
}