.div-pattern-shared {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-shared {
    width: 100%;
    height: 15%;
    background-color: #C6CED0;
    display: flex;
    flex-direction: row;
}

.div-img-logo-shared {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-shared {
    width: 50%;
}

.div-nav-shared {
    height: 100%;
    width: 85%;
    background-color: #C6CED0;
}

.header-nav-shared {
    width: 100%;
    height: 100%;
}

.header-ul-shared {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header-ul-shared>li {
    list-style: none;
    color: #40A798;
}

.div-img-perfil {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 5%;
}

.img-perfil {
    width: 100%;
}

.div-aside-main-shared {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-aside-shared {
    height: 100%;
    width: 15%;
    margin: 0;
    background-color: #C6CED0;
    display: flex;
    border-top: #C6CED0;
    flex-direction: column;
}

.icons {
    height: 20px;
}

.aside-shared {
    height: 100%;
    width: 90%;
    margin: 0;
}

.aside-nav-main-shared {
    width: 100%;
    height: 100%;
}

.main-ul-shared {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0;
    margin: 0;
    align-content: space-around;
}

.main-ul-shared>li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-ul-shared>li>a {
    text-decoration: none;
    color: #476268;
    font-size: 18px;
}

.main-ul-shared>li>a:hover {
    text-decoration: none;
    color: #40A798;
    font-weight: bolder;
}

.main-shared {
    height: 101.5%;
    width: 85%;
    border-left: #C6CED0 2px solid;
    border-top: #C6CED0 2px solid;
    border-bottom: #C6CED0 2px solid;
    border-top-left-radius: 15px;
    position: relative;
    top: -2%;
    background-color: white
}

.header-ul-shared>.icons {
    display: none;
}

.menu-hamburguesa-false {
    display: none;
}

.menu-hamburguesa-true {
    display: none;
}

.li-hamburguesa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.a-hamburguesa {
    text-decoration: none;
    font-size: 15px;
}

a {
    color: #476268;
}

a:hover {
    color: #40A798;
}

.icons-exception{
    display: none;
}

@media (max-width: 480px) {
    /* Estilos para celulares pequeños */
    .div-aside-shared {
        display: none;
    }

    .main-shared {
        width: 100%;
        position: static;
        border: none;
        height: 100%;
    }

    .header-ul-shared>.icons {
        display: block;
        margin-right: 3%;
    }

    .header-ul-shared{
        padding: 0;
        width: 100%;
    }

    .header-ul-shared>.div-img-perfil {
        display: none;
    }

    .header-ul-shared>.div-img-button{
        /*height: 100%; */
        width: 30%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        
    }

    .menu-hamburguesa-false {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 14.9%;
        left: 50%;
        background-color: #C6CED0;
        border: #C6CED0;
        width: 50%;
        margin: 0;
        height: 100%;
        transform: translateX(110%);
        transition: transform 0.5s ease-in-out;
        height: 85%;
    }

    .menu-hamburguesa-true {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 14.9%;
        left: 50%;
        background-color: #C6CED0;
        border: #C6CED0;
        width: 50%;
        margin: 0;
        height: 100%;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        height: 85%;
    }

    .ul-hamburguesa {
        list-style: none;
        padding: 0;
    }

    .a-hamburguesa-exception {
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .header-shared {
        position: fixed;
    }

    .icons-exception{
        display: block;
        padding-right: 10%;
    }

    .div-img-logo-shared {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tablets en orientación vertical */
  }
  